{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %} <!-- TODO display current group's name -->

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class="container my-5">
    <!-- Group Name -->
    <h2 class="text-center mb-5">{{ group.title }}</h2>

    <!-- Projects Section -->
    <h4 class="mb-4">Projects</h4>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for project in projects %}
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="text-muted">{{ project.members.count }} members</p>
                    <div class="d-flex justify-content-around mt-3">
                        <a href="#" class="btn btn-sm btn-outline-primary">add members</a> <!-- TODO a{a%a url 'add_members' project.id a%a}a -->
                        <a href="#" class="btn btn-sm btn-outline-warning">edit</a> <!-- TODO a{a%a url 'edit_project' project.id a%a}a -->
                        <a href="#" class="btn btn-sm btn-outline-danger">delete</a> <!-- TODo a{a%a url 'delete_project' project.id a%a}a-->
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>
            No projects yet. 
            <br><br>
            <a href="{% url 'create_project' %}" class="btn btn-sm btn-outline-primary">Create project</a>
        </p>
        {% endfor %}
    </div>

    <hr class="my-5">

    <!-- Members Section -->
    <h4 class="mb-4">Members</h4>
    <div class="table-responsive">
        <table class="table align-middle table-striped">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members%} 
                <tr>
                    <td>
                        <img src="{{ member.photo.url }}"
                            class="rounded-circle" width="40" height="40"
                            onerror onerror="
                                this.onerror=null;
                                this.src='tracker/img/invalid.png'
                        ">
                    </td>
                    <td>{{ member.username }}</td>
                    <td>{{ member.email }}</td> 
                    <td>{{ member.role }}</td>
                    <td class="text-end">
                        <a href="#" class="btn btn-sm btn-outline-primary">View profile</a> <!-- TODO a{a%a url 'view_profile' member.id a%a}a-->
                        <a href="#" class="btn btn-sm btn-outline-danger">Delete</a> <!-- TODO a{a%a url 'delete_member' member.id a%a}a -->
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No members yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}