{% extends 'base.html' %}
{% load static %}

{% block title %}Groups{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'tracker/css/groups.css' %}">
{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="row align-items-center mb-3">
    <div class="col-3">
      <a href="{% url 'create_group' %}" class="btn create-btn">
        <span class="plus">+</span>
        <span class="label">Create group</span>
      </a>
    </div>

    <div class="col-6 text-center">
      <h3 class="mb-0">Groups</h3>
    </div>

    <div class="col-3 text-end">
      <input type="text" class="search-bar" placeholder="search">
    </div>
  </div>

  <div class="md-0" style="margin-top: 40px;">
    {% if owned_groups %}
      <h3>Owned groups</h3><br>
      {% for group in owned_groups %}
        {% include "groups/group_card.html" with group=group is_owner=True %}
      {% endfor %}
    {% endif %}

    {% if member_groups %}
      <h3>Groups</h3><br>
      {% for group in member_groups %}
        {% include "tracker/group_card.html" with group=group is_owner=False %}
      {% empty %}
        <h4>You don't have any groups yet</h4>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
