{% extends 'base.html' %}
{% load static %}

{% block title %}Groups{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'tracker/css/groups.css' %}">
{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row align-items-center mb-3">
  <div class="col-3">
    <a href="{% url 'create_group' %}" class="btn create-btn">
      <span class="plus">+</span>
      <span class="label">Create group</span>
    </a>
  </div>

  <div class="col-6 text-center">
    <h3 class="mb-0">Groups</h3>
  </div>

  <div class="col-3 text-end">
    <input type="text" class="search-bar" placeholder="search">
  </div>
</div>

  <!-- TODO add managment buttons to owned groups -->
  <!-- TODO maybe separate blocks with owned groups and regular -->
  <div class="md-0" style="margin-top: 40px;">
    <!-- TODO fix that displayed only owned gropus -->
    {% for group in groups %}
    
      <a href="{% url 'group_view' group.id %}" class="group-card">
        <img src="https://via.placeholder.com/60" alt="group">
        <div class="group-info">{{group.title}}</div>
        <small class="text-muted">{{ group.user_set.count }} members</small>
      </a>

    {% endfor %}
  </div>
{% endblock %}