django
djangorestframework
django-extensions
django_redis
django-stubs
gunicorn
pillow
python-dotenv
psycopg2-binary
black
ruff
pytest
pytest-django
pytest-cov
model_bakery
factory-boy
freezegun
coverage
bandit
safety
pre-commit
