django
djangorestframework
gunicorn
pillow
python-dotenv
psycopg2-binary
black
ruff
mypy
pytest
pytest-django
pytest-cov
model_bakery
factory-boy
freezegun
coverage
flake8
isort
django-stubs
bandit
safety
pre-commit
