{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TaskBoard{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add" />
    {% endblock %}
</head>
<body>
    {% include 'includes/header.html' %}
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    
    {% block scripts %}
    <script src="{% static 'js/header.js' %}"></script>
    {% endblock %}
</body>
</html>