{% extends 'base.html' %}
{% load static %}</div>

{% block title %}Profile{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content%}
<div class="container">
    <div class="form-box mx-auto mt-6 p-5 rounded-4 shadow-sm bg-white" style="max-width: 520px;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h2 class="mb-3 text-center">
                Edit your profile
            </h2>

            <div class="mb-4">
                <label class="form-label">Email:</label>
                <input type="email" name="email" class="form-control form-control-lg rounded-3"
                    value="{{ email }}"> 
            </div>

            <div class="mb-4">
                <label class="form-label">Username:</label>
                <input type="text" name="username" class="form-control form-control-lg rounded-3"
                    value="{{ username }}">
            </div>

            <div class="mb-4">
                <label class="form-label">First name:</label>
                <input type="text" name="first_name" class="form-control form-control-lg rounded-3"
                    value="{{ first_name }}">
            </div>

            <div class="mb-4">
                <label class="form-label">Last name:</label>
                <input type="text" name="last_name" class="form-control form-control-lg rounded-3"
                    value="{{ last_name }}">
            </div>
            
            <div class="mb-4">
                <label class="form-label">Password:</label>
                <input type="password" name="password" class="form-control form-control-lg rounded-3">
            </div>
            
            <div class="mb-5">
                <label class="form-label">Upload your profile photo</label>
                <input type="file" name="profile_image" class="form-control rounded-3">
            </div><br>

            {% if form.errors %}
            <div class="mb-3" style="color: red">    
                {% for error in form.non_field_errors %}
                    <div style="color:red">{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %} <br>
            
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg fw-bold">Update</button><br>
            </div>
        </form>

        <div class="mb-5">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg text-center" 
                    style="text-align: center;">Sign out</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}