{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-box mx-auto mt-6 p-5 rounded-4 shadow-sm bg-white" style="max-width: 520px;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <h2 class="mb-3 text-center">
                Sign up
            </h2>
            <br>
            <div class="mb-4">
                <label class="px-1">Email:</label>
                <input type="email" name="email" class="form-control form-control-lg rounded-3"
                    placeholder="Enter your email.." required>
            </div>

            <div class="mb-4">
                <label class="form-label">Username:</label>
                <input type="text" name="username" class="form-control form-control-lg rounded-3" 
                    placeholder="Enter your username.." required>
            </div>

            <div class="mb-4">
                <label class="form-label">First name:</label>
                <input type="text" name="first_name" class="form-control form-control-lg rounded-3" 
                    placeholder="Enter your first name.." required>
            </div>

            <div class="mb-4">
                <label class="form-label">Last name:</label>
                <input type="text" name="last_name" class="form-control form-control-lg rounded-3" 
                    placeholder="Enter your last name.." required>
            </div>

            <div class="mb-4">
                <label class="form-label">Password:</label>
                <input type="password" name="password1" class="form-control form-control-lg rounded-3" 
                    placeholder="Enter your password.." required>
            </div>

            <div class="mb-4">
                <label class="form-label">Confirm your password:</label>
                <input type="password" name="password2" class="form-control form-control-lg rounded-3" 
                    placeholder="Confirm your password.." required>
            </div>
            <br>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg fw-bold rounded-3">Sign in</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
