{% extends 'base.html' %}
{% load static %}

{% block title %}Create task{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'tracker/css/groups.css' %}">
{% endblock %}

{% block content %}
<div class="group-create-container">
    <h3 class="mb-4 text-center">Create task</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="title"  
                    placeholder="Enter the name of the task..">
        </div>

        <div class="mb-3">
            <textarea class="form-control" rows="4" name="description" 
                    placeholder="Write task's description here.."></textarea>
        </div>

        <div class="d-flex gap-3 mb-3">
            <label for="priority">Choose task's priority:</label>
            <select type="text" class="form-control" name="priority" id="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
                <option value="critical">Critical</option>
            </select>
        </div>

        <div class="d-flex gap-3 mb-3">
            <label for="priority">Choose task's type:</label>
            <select type="text" name="ticket_type" class="form-control" >
                <option value="task">Task</option>
                <option value="bug">Bug</option>
                <option value="feature">Feature</option>
            </select>
        </div>

        <div class="d-flex gap-3 mb-3">
            <label for="deadline">Deadline:</label>
            <input type="date" class="form-control" name="due_date" id="deadline"
                min="{{ today|date:'Y-m-d' }}">
        </div>

        <div class="mb-3">
            <label for="assignee">Assign to:</label>
            <select class="form-control" name="assigne" id="assignee">
                <option value="">Empty</option>
                {% for member in project.members.all %}
                    <option value="{{ member.id }}">{{ member.email }}</option>
                {% endfor %}
            </select>
        </div>


        <br>
        {% if form.errors %}
        <div class="mb-3" style="color: red">    
            {% for error in form.non_field_errors %}
                <div style="color:red">{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %} <br>

        <div class="text-end">
            <button type="submit" class="btn btn-primary">Create task</button>
        </div>
  </form>
</div>
{% endblock %}